body{
    background: rgb(248, 195, 237);
    width: 55%;
    margin: auto;
    font-family: sans-serif;
 }
 .container ,button{
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 button{
     background:rgb(73, 73, 247);
     margin: 10px;
     height: 10vh;
     width: 20%;
     color: white;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 .Submit button{
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
    border-radius: 3px;
    height: 5vh;
    width: 10%;
    margin: 10px;
   
}
h5{
    margin-bottom: 5px;
}
.question .card1{
    border-radius:5px;
    background:white;
    height: 30vh;
}
.card-title, h3{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.question .chioce{
    margin: auto;
    margin-left: 10rem;
   margin-top: 20px;
}